In [215]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [216]:
#Importing pyspark
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [217]:
#Importing sparksession
spark = SparkSession.builder.appName("dataframe1").getOrCreate()

In [218]:
#Importing Data
rawDF = pd.read_csv("/content/airlines1.csv")

In [219]:
rawDF.shape

(50001, 110)

In [220]:
rawDF

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,0,1998,1,1,2,5,1998-01-02,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2009,2,5,28,4,2009-05-28,FL,20437,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013,2,6,29,6,2013-06-29,MQ,20398,MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2010,3,8,31,2,2010-08-31,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2006,1,1,15,7,2006-01-15,US,20355,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49996,49996,1999,4,10,12,2,1999-10-12,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,49997,2010,4,11,1,1,2010-11-01,OH,20417,OH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,49998,2006,2,4,30,7,2006-04-30,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,49999,2009,3,7,8,3,2009-07-08,F9,20436,F9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50000,50000,2006,2,5,17,3,2006-05-17,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
#Casting all the columns to string type to avoid datatype conversion issues in pandas
sparkDF = spark.createDataFrame(rawDF.astype(str))

In [222]:
sparkDF.printSchema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Quarter: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- FlightDate: string (nullable = true)
 |-- Reporting_Airline: string (nullable = true)
 |-- DOT_ID_Reporting_Airline: string (nullable = true)
 |-- IATA_CODE_Reporting_Airline: string (nullable = true)
 |-- Tail_Number: string (nullable = true)
 |-- Flight_Number_Reporting_Airline: string (nullable = true)
 |-- OriginAirportID: string (nullable = true)
 |-- OriginAirportSeqID: string (nullable = true)
 |-- OriginCityMarketID: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- OriginCityName: string (nullable = true)
 |-- OriginState: string (nullable = true)
 |-- OriginStateFips: string (nullable = true)
 |-- OriginStateName: string (nullable = true)
 |-- OriginWac: string (nullable = true)
 |-- DestAirportID: string (nullable = true)
 |-- DestAirportSeqID: string (nullable = true)
 |-- DestCityMarketID: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- DestCityName: string (nullable = true)
 |-- DestState: string (nullable = true)
 |-- DestStateFips: string (nullable = true)
 |-- DestStateName: string (nullable = true)
 |-- DestWac: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- DepDelayMinutes: string (nullable = true)
 |-- DepDel15: string (nullable = true)
 |-- DepartureDelayGroups: string (nullable = true)
 |-- DepTimeBlk: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- WheelsOff: string (nullable = true)
 |-- WheelsOn: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- ArrDelayMinutes: string (nullable = true)
 |-- ArrDel15: string (nullable = true)
 |-- ArrivalDelayGroups: string (nullable = true)
 |-- ArrTimeBlk: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- Flights: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- DistanceGroup: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- FirstDepTime: string (nullable = true)
 |-- TotalAddGTime: string (nullable = true)
 |-- LongestAddGTime: string (nullable = true)
 |-- DivAirportLandings: string (nullable = true)
 |-- DivReachedDest: string (nullable = true)
 |-- DivActualElapsedTime: string (nullable = true)
 |-- DivArrDelay: string (nullable = true)
 |-- DivDistance: string (nullable = true)
 |-- Div1Airport: string (nullable = true)
 |-- Div1AirportID: string (nullable = true)
 |-- Div1AirportSeqID: string (nullable = true)
 |-- Div1WheelsOn: string (nullable = true)
 |-- Div1TotalGTime: string (nullable = true)
 |-- Div1LongestGTime: string (nullable = true)
 |-- Div1WheelsOff: string (nullable = true)
 |-- Div1TailNum: string (nullable = true)
 |-- Div2Airport: string (nullable = true)
 |-- Div2AirportID: string (nullable = true)
 |-- Div2AirportSeqID: string (nullable = true)
 |-- Div2WheelsOn: string (nullable = true)
 |-- Div2TotalGTime: string (nullable = true)
 |-- Div2LongestGTime: string (nullable = true)
 |-- Div2WheelsOff: string (nullable = true)
 |-- Div2TailNum: string (nullable = true)
 |-- Div3Airport: string (nullable = true)
 |-- Div3AirportID: string (nullable = true)
 |-- Div3AirportSeqID: string (nullable = true)
 |-- Div3WheelsOn: string (nullable = true)
 |-- Div3TotalGTime: string (nullable = true)
 |-- Div3LongestGTime: string (nullable = true)
 |-- Div3WheelsOff: string (nullable = true)
 |-- Div3TailNum: string (nullable = true)
 |-- Div4Airport: string (nullable = true)
 |-- Div4AirportID: string (nullable = true)
 |-- Div4AirportSeqID: string (nullable = true)
 |-- Div4WheelsOn: string (nullable = true)
 |-- Div4TotalGTime: string (nullable = true)
 |-- Div4LongestGTime: string (nullable = true)
 |-- Div4WheelsOff: string (nullable = true)
 |-- Div4TailNum: string (nullable = true)
 |-- Div5Airport: string (nullable = true)
 |-- Div5AirportID: string (nullable = true)
 |-- Div5AirportSeqID: string (nullable = true)
 |-- Div5WheelsOn: string (nullable = true)
 |-- Div5TotalGTime: string (nullable = true)
 |-- Div5LongestGTime: string (nullable = true)
 |-- Div5WheelsOff: string (nullable = true)
 |-- Div5TailNum: string (nullable = true)

In [223]:
sparkDF.show()

+----------+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|Unnamed: 0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+----------+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|         0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|             nan|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|             nan|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|             nan|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|             nan|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|             nan|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|             nan|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|             nan|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|             nan|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|             nan|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|         nan|         nan|     nan|          nan|              nan|         nan|          nan|            nan|               nan|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|
|         9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|             nan|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|         nan|          nan|            nan|               0.0|           nan|                 nan|        nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|        nan|          nan|             nan|         nan|           nan|             nan|          nan|        nan|

In [224]:
sparknewDF = sparkDF.select("Year", "Month", "DayofMonth" , "FlightDate","Tail_Number", "Flight_Number_Reporting_Airline" )

In [225]:
sparknewDF.show()

+----+-----+----------+----------+-----------+-------------------------------+
|Year|Month|DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+----+-----+----------+----------+-----------+-------------------------------+
|1998|    1|         2|1998-01-02|     N297US|                            675|
|2009|    5|        28|2009-05-28|     N946AT|                            671|
|2013|    6|        29|2013-06-29|     N665MQ|                           3297|
|2010|    8|        31|2010-08-31|     N6705Y|                           1806|
|2006|    1|        15|2006-01-15|     N504AU|                            465|
|1995|   11|        29|1995-11-29|     N925DL|                           1198|
|2006|    8|         7|2006-08-07|     N27724|                           1431|
|2019|    6|        11|2019-06-11|     N927XJ|                           3459|
|2008|    8|         3|2008-08-03|     N522LR|                           7233|
|2018|    2|         8|2018-02-08|     N8688J|                           5932|
|1991|   11|        21|1991-11-21|        nan|                           2135|
|2014|    4|         3|2014-04-03|     N374SW|                           1463|
|1994|    7|        24|1994-07-24|        nan|                            830|
|2013|    6|        30|2013-06-30|     N947SW|                           6474|
|2003|   11|        21|2003-11-21|     N308UA|                            674|
|1988|    4|         4|1988-04-04|        nan|                            362|
|2007|    9|         5|2007-09-05|     N8928E|                           1678|
|2015|    9|         5|2015-09-05|     N589AS|                            413|
|2006|    1|        28|2006-01-28|     N426UA|                            210|
|2017|    7|        26|2017-07-26|     N252WN|                            995|
+----+-----+----------+----------+-----------+-------------------------------+
only showing top 20 rows

In [226]:
pdf = sparknewDF.toPandas()

In [227]:
from pyspark.sql.functions import date_format, format_string, date_add, to_timestamp, to_json

In [228]:
pdf

,Year,Month,DayofMonth,FlightDate,Tail_Number,Flight_Number_Reporting_Airline
0,1998,1,2,1998-01-02,N297US,675
1,2009,5,28,2009-05-28,N946AT,671
2,2013,6,29,2013-06-29,N665MQ,3297
3,2010,8,31,2010-08-31,N6705Y,1806
4,2006,1,15,2006-01-15,N504AU,465
...,...,...,...,...,...,...
49996,1999,10,12,1999-10-12,N311,1723
49997,2010,11,1,2010-11-01,N940CA,6601
49998,2006,4,30,2006-04-30,N509UA,493
49999,2009,7,8,2009-07-08,N804FR,573
50000,2006,5,17,2006-05-17,N388AA,2401

In [229]:
#Creating dataframe from external dataset
df = spark.read.option("header","true").csv("/content/airlines1.csv")

In [230]:
df.show()

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

In [231]:
df.columns

['_c0',
 'Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

In [232]:
Flight_Details = df.select("_c0","Year", "Month", "DayofMonth" , "FlightDate","Tail_Number", "Flight_Number_Reporting_Airline")

In [233]:

#Count total number of records in each year
Flight_Details.select("Year").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  339|
|2016| 1502|
|2020|  462|
|2012| 1519|
|1988| 1310|
|2019| 1900|
|2017| 1449|
|2014| 1513|
|2013| 1690|
|2005| 1812|
|2000| 1477|
|2002| 1371|
|2009| 1604|
|2018| 1862|
|1995| 1377|
|2006| 1900|
|2004| 1847|
|2011| 1551|
|1989| 1288|
|1992| 1335|
+----+-----+
only showing top 20 rows

In [234]:
#Count total number of records in each month
Flight_Details.select("Month").groupBy("Month").count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7| 4267|
|   11| 3997|
|    3| 4396|
|    8| 4414|
|    5| 4167|
|    6| 4078|
|    9| 3954|
|    1| 4362|
|   10| 4264|
|    4| 3969|
|   12| 4232|
|    2| 3901|
+-----+-----+

In [235]:
#Count total number of cancelled flights in each year
df.select("Year").filter("cancelled = 1").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|    3|
|2016|   17|
|2012|   20|
|2020|   24|
|1988|   15|
|2019|   34|
|2017|   22|
|2014|   31|
|2013|   22|
|2005|   33|
|2000|   42|
|2002|   11|
|2018|   24|
|2009|   19|
|1995|   22|
|2006|   30|
|2004|   29|
|2011|   29|
|1989|   26|
|1992|   14|
+----+-----+
only showing top 20 rows

In [236]:
#Count total number of cancelled flights in each month
df.select("Month").filter("cancelled = 1").groupBy("Month").count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7|   60|
|   11|   46|
|    3|  106|
|    8|   75|
|    5|   39|
|    6|   60|
|    9|  101|
|    1|  132|
|   10|   57|
|    4|   44|
|   12|   68|
|    2|   90|
+-----+-----+

In [237]:
#Count total number of flights by each airport
df.select("Origin").groupBy("Origin").count().show()

+------+-----+
|Origin|count|
+------+-----+
|   BGM|   11|
|   INL|    1|
|   PSE|    3|
|   MSY|  383|
|   PPG|    1|
|   GEG|  118|
|   BUR|  222|
|   SNA|  339|
|   GRB|   42|
|   GTF|   27|
|   IDA|   17|
|   GRR|  106|
|   PVU|    2|
|   EUG|   34|
|   PSG|   11|
|   GSO|  124|
|   PVD|  141|
|   MYR|   41|
|   OAK|  435|
|   MSN|   81|
+------+-----+
only showing top 20 rows

In [238]:
#Count total number of flights without delay
df.select("Year").filter("DepDelay <= 0 ").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  187|
|2016|  978|
|2012|  949|
|2020|  320|
|1988|  775|
|2019| 1171|
|2017|  911|
|2014|  885|
|2013| 1011|
|2005| 1122|
|2000|  812|
|2002|  891|
|2009|  996|
|2018| 1214|
|1995|  648|
|2006| 1116|
|2004| 1226|
|2011|  955|
|1989|  705|
|1992|  721|
+----+-----+
only showing top 20 rows

In [239]:
#Count total number of delayed flights by year
df.select("Year").filter("DepDelay > 0 ").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  149|
|2016|  507|
|2020|  118|
|2012|  551|
|1988|  520|
|2019|  695|
|2017|  516|
|2014|  597|
|2013|  659|
|2005|  657|
|2000|  623|
|2002|  469|
|2018|  622|
|2009|  590|
|1995|  707|
|2006|  754|
|2004|  592|
|2011|  569|
|1989|  557|
|1992|  600|
+----+-----+
only showing top 20 rows

In [240]:
#Count total number on time flights by year
df.select("Year").filter((df.DepDelay <= 0) & (df.ArrDelay <= 0)).groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|   96|
|2016|  840|
|2012|  782|
|2020|  280|
|1988|  474|
|2019|  982|
|2017|  739|
|2014|  726|
|2013|  829|
|2005|  845|
|2000|  579|
|2002|  695|
|2009|  793|
|2018| 1032|
|1995|  444|
|2006|  821|
|2004|  921|
|1989|  453|
|2011|  757|
|1992|  501|
+----+-----+
only showing top 20 rows

###We create segments of data

In [241]:
Flight_Origin= df.select("_c0","OriginAirportID", "OriginAirportSeqID", "OriginCityMarketID","Origin", "OriginCityName","OriginState", "OriginStateName")

In [242]:
Flight_Destination = df.select("_c0","DestAirportID", "DestAirportSeqID", "Dest", "DestCityName","DestState","DestStateName")

In [243]:
Flight_arr_dep = df.select("_c0","CRSArrTime","ArrTime", "CRSDepTime","DepTime")

In [244]:
DelayDF= df.select("_c0","CarrierDelay","WeatherDelay", "NASDelay","SecurityDelay","LateAircraftDelay")

In [245]:
Flight_cancel = df.select("_c0","Cancelled","CancellationCode","Diverted","Flights")

In [246]:
Flight_cancel = Flight_cancel.withColumnRenamed("_c0", "ID")

###Data Cleaning (Handling null values)

In [247]:
Flight_cancel.show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|            null|     0.0|    1.0|
|  1|      0.0|            null|     0.0|    1.0|
|  2|      0.0|            null|     0.0|    1.0|
|  3|      0.0|            null|     0.0|    1.0|
|  4|      0.0|            null|     0.0|    1.0|
|  5|      0.0|            null|     0.0|    1.0|
|  6|      0.0|            null|     0.0|    1.0|
|  7|      0.0|            null|     0.0|    1.0|
|  8|      0.0|            null|     0.0|    1.0|
|  9|      0.0|            null|     0.0|    1.0|
| 10|      0.0|            null|     0.0|    1.0|
| 11|      0.0|            null|     0.0|    1.0|
| 12|      0.0|            null|     0.0|    1.0|
| 13|      0.0|            null|     0.0|    1.0|
| 14|      0.0|            null|     0.0|    1.0|
| 15|      0.0|            null|     0.0|    1.0|
| 16|      0.0|            null|     0.0|    1.0|
| 17|      0.0|            null|     0.0|    1.0|
| 18|      0.0|            null|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

In [248]:
Flight_cancel.na.drop(how="any").show()

+----+---------+----------------+--------+-------+
|  ID|Cancelled|CancellationCode|Diverted|Flights|
+----+---------+----------------+--------+-------+
|  19|      1.0|               A|     0.0|    1.0|
| 146|      1.0|               B|     0.0|    1.0|
| 197|      1.0|               C|     0.0|    1.0|
| 554|      1.0|               A|     0.0|    1.0|
| 680|      1.0|               A|     0.0|    1.0|
| 841|      1.0|               A|     0.0|    1.0|
| 905|      1.0|               B|     0.0|    1.0|
| 911|      1.0|               B|     0.0|    1.0|
| 965|      1.0|               B|     0.0|    1.0|
|1082|      1.0|               C|     0.0|    1.0|
|1246|      1.0|               A|     0.0|    1.0|
|1443|      1.0|               B|     0.0|    1.0|
|1450|      1.0|               A|     0.0|    1.0|
|1633|      1.0|               A|     0.0|    1.0|
|1730|      1.0|               B|     0.0|    1.0|
|1773|      1.0|               C|     0.0|    1.0|
|1904|      1.0|               B|     0.0|    1.0|
|1908|      1.0|               B|     0.0|    1.0|
|1913|      1.0|               A|     0.0|    1.0|
|2450|      1.0|               A|     0.0|    1.0|
+----+---------+----------------+--------+-------+
only showing top 20 rows

In [249]:
Flight_cancel.na.fill("Yes").show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|             Yes|     0.0|    1.0|
|  1|      0.0|             Yes|     0.0|    1.0|
|  2|      0.0|             Yes|     0.0|    1.0|
|  3|      0.0|             Yes|     0.0|    1.0|
|  4|      0.0|             Yes|     0.0|    1.0|
|  5|      0.0|             Yes|     0.0|    1.0|
|  6|      0.0|             Yes|     0.0|    1.0|
|  7|      0.0|             Yes|     0.0|    1.0|
|  8|      0.0|             Yes|     0.0|    1.0|
|  9|      0.0|             Yes|     0.0|    1.0|
| 10|      0.0|             Yes|     0.0|    1.0|
| 11|      0.0|             Yes|     0.0|    1.0|
| 12|      0.0|             Yes|     0.0|    1.0|
| 13|      0.0|             Yes|     0.0|    1.0|
| 14|      0.0|             Yes|     0.0|    1.0|
| 15|      0.0|             Yes|     0.0|    1.0|
| 16|      0.0|             Yes|     0.0|    1.0|
| 17|      0.0|             Yes|     0.0|    1.0|
| 18|      0.0|             Yes|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

###Apply pyspark windows function

In [250]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [251]:
ndf = Window.partitionBy("OriginState").orderBy("OriginAirportID")
Flight_Origin.withColumn("row_number", row_number().over(ndf)).show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|row_number|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
|22201|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|         1|
|32252|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|         2|
|47945|          14583|           1458301|             34583|   ROR|Koror, Palau Dist...|       null|           null|         3|
| 4406|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         4|
|11056|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         5|
|11127|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         6|
|17268|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         7|
|19012|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         8|
|20504|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         9|
|21724|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        10|
|27784|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        11|
|31525|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        12|
|39618|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        13|
|18173|          14955|           1495501|             34955|   SPN|Saipan, Northern ...|       null|           null|        14|
|22928|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        15|
|27212|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        16|
|29420|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        17|
|37516|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        18|
|40192|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        19|
|45635|          15027|           1502701|             34992|   STX|Christiansted, Vi...|       null|           null|        20|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
only showing top 20 rows

In [252]:
#Use rank function
from pyspark.sql.functions import rank
Flight_Origin.withColumn("rank", rank().over(ndf)).show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|rank|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
|22201|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|   1|
|32252|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|   1|
|47945|          14583|           1458301|             34583|   ROR|Koror, Palau Dist...|       null|           null|   3|
| 4406|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|11056|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|11127|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|17268|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|19012|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|20504|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|21724|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|27784|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|31525|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|39618|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|18173|          14955|           1495501|             34955|   SPN|Saipan, Northern ...|       null|           null|  14|
|22928|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|27212|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|29420|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|37516|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|40192|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|45635|          15027|           1502701|             34992|   STX|Christiansted, Vi...|       null|           null|  20|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
only showing top 20 rows

In [253]:
#Sorting data by using sortBy
Flight_Origin.sort("Origin","OriginState").show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
| 6277|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5819|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|33085|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|20102|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 1590|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|38459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|31673|          10135|           1013503|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|31493|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5113|          10135|           1013502|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5403|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|44533|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|45933|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46998|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|39459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|40523|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|33877|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42080|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|34386|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42910|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
only showing top 20 rows

In [254]:
#Sorting dta by using orderBy
Flight_Origin.orderBy("Origin", "OriginState").show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
| 6277|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5819|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|33085|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|20102|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 1590|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|38459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|31673|          10135|           1013503|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|31493|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5113|          10135|           1013502|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5403|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|44533|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|45933|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46998|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|39459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|40523|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|33877|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42080|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|34386|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42910|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
only showing top 20 rows

In [255]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

In [256]:
Flight_Destination.show()

+---+-------------+----------------+----+--------------------+---------+--------------+
|_c0|DestAirportID|DestAirportSeqID|Dest|        DestCityName|DestState| DestStateName|
+---+-------------+----------------+----+--------------------+---------+--------------+
|  0|        14869|         1486902| SLC|  Salt Lake City, UT|       UT|          Utah|
|  1|        13204|         1320401| MCO|         Orlando, FL|       FL|       Florida|
|  2|        11298|         1129803| DFW|Dallas/Fort Worth...|       TX|         Texas|
|  3|        11433|         1143301| DTW|         Detroit, MI|       MI|      Michigan|
|  4|        11057|         1105702| CLT|       Charlotte, NC|       NC|North Carolina|
|  5|        14814|         1481401| SHV|      Shreveport, LA|       LA|     Louisiana|
|  6|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  7|        10868|         1086803| CAE|        Columbia, SC|       SC|South Carolina|
|  8|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  9|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 10|        12892|         1289201| LAX|     Los Angeles, CA|       CA|    California|
| 11|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 12|        13303|         1330302| MIA|           Miami, FL|       FL|       Florida|
| 13|        12892|         1289203| LAX|     Los Angeles, CA|       CA|    California|
| 14|        12953|         1295301| LGA|        New York, NY|       NY|      New York|
| 15|        10821|         1082102| BWI|       Baltimore, MD|       MD|      Maryland|
| 16|        13184|         1318402| MBS|Saginaw/Bay City/...|       MI|      Michigan|
| 17|        14747|         1474703| SEA|         Seattle, WA|       WA|    Washington|
| 18|        12264|         1226401| IAD|      Washington, DC|       VA|      Virginia|
| 19|        12892|         1289205| LAX|     Los Angeles, CA|       CA|    California|
+---+-------------+----------------+----+--------------------+---------+--------------+
only showing top 20 rows

In [257]:
ndf = Window.partitionBy("DestState").orderBy("DestAirportID")
Flight_Destination.withColumn("row_number", row_number().over(ndf)).show()

+-----+-------------+----------------+----+--------------------+---------+-------------+----------+
|  _c0|DestAirportID|DestAirportSeqID|Dest|        DestCityName|DestState|DestStateName|row_number|
+-----+-------------+----------------+----+--------------------+---------+-------------+----------+
|18173|        12016|         1201601| GUM|          Guam, Guam|     null|         null|         1|
|47945|        12016|         1201601| GUM|          Guam, Guam|     null|         null|         2|
| 1859|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         3|
|13437|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         4|
|15898|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         5|
|20319|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         6|
|26159|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         7|
|29420|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         8|
|37547|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|         9|
|46585|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|        10|
|46884|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|        11|
|22201|        14955|         1495501| SPN|Saipan, Northern ...|     null|         null|        12|
|32252|        14955|         1495501| SPN|Saipan, Northern ...|     null|         null|        13|
| 7673|        15024|         1502402| STT|Charlotte Amalie,...|     null|         null|        14|
|40704|        15024|         1502402| STT|Charlotte Amalie,...|     null|         null|        15|
|45635|        15024|         1502402| STT|Charlotte Amalie,...|     null|         null|        16|
|22928|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|        17|
|27212|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|        18|
|37516|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|        19|
|40192|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|        20|
+-----+-------------+----------------+----+--------------------+---------+-------------+----------+
only showing top 20 rows

In [258]:
from pyspark.sql.functions import rank
Flight_Destination.withColumn("rank", rank().over(ndf)).show()

+-----+-------------+----------------+----+--------------------+---------+-------------+----+
|  _c0|DestAirportID|DestAirportSeqID|Dest|        DestCityName|DestState|DestStateName|rank|
+-----+-------------+----------------+----+--------------------+---------+-------------+----+
|18173|        12016|         1201601| GUM|          Guam, Guam|     null|         null|   1|
|47945|        12016|         1201601| GUM|          Guam, Guam|     null|         null|   1|
| 1859|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|13437|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|15898|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|20319|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|26159|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|29420|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|37547|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|46585|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|46884|        14843|         1484301| SJU|San Juan, Puerto ...|     null|         null|   3|
|22201|        14955|         1495501| SPN|Saipan, Northern ...|     null|         null|  12|
|32252|        14955|         1495501| SPN|Saipan, Northern ...|     null|         null|  12|
| 7673|        15024|         1502402| STT|Charlotte Amalie,...|     null|         null|  14|
|40704|        15024|         1502402| STT|Charlotte Amalie,...|     null|         null|  14|
|45635|        15024|         1502402| STT|Charlotte Amalie,...|     null|         null|  14|
|22928|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|  17|
|27212|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|  17|
|37516|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|  17|
|40192|        15027|         1502701| STX|Christiansted, Vi...|     null|         null|  17|
+-----+-------------+----------------+----+--------------------+---------+-------------+----+
only showing top 20 rows

In [259]:
from pyspark.sql.functions import udf

In [260]:
from pyspark.sql.functions import col

In [261]:
def destination(str):
  resStr = ""
  arr =str.split(",")
  for x in arr:
    resStr = arr[0]
  return resStr

In [262]:
#Converting python function to UDF
destinationUDF = udf(lambda z: destination(z))

In [263]:
df.select(col("Dest"),destinationUDF(col("DestCityName")).alias("DestCityName") ).show(truncate=False)

+----+------------------------+
|Dest|DestCityName            |
+----+------------------------+
|SLC |Salt Lake City          |
|MCO |Orlando                 |
|DFW |Dallas/Fort Worth       |
|DTW |Detroit                 |
|CLT |Charlotte               |
|SHV |Shreveport              |
|CLE |Cleveland               |
|CAE |Columbia                |
|CLE |Cleveland               |
|DAL |Dallas                  |
|LAX |Los Angeles             |
|DAL |Dallas                  |
|MIA |Miami                   |
|LAX |Los Angeles             |
|LGA |New York                |
|BWI |Baltimore               |
|MBS |Saginaw/Bay City/Midland|
|SEA |Seattle                 |
|IAD |Washington              |
|LAX |Los Angeles             |
+----+------------------------+
only showing top 20 rows

In [264]:
Flight_Destination.show()

+---+-------------+----------------+----+--------------------+---------+--------------+
|_c0|DestAirportID|DestAirportSeqID|Dest|        DestCityName|DestState| DestStateName|
+---+-------------+----------------+----+--------------------+---------+--------------+
|  0|        14869|         1486902| SLC|  Salt Lake City, UT|       UT|          Utah|
|  1|        13204|         1320401| MCO|         Orlando, FL|       FL|       Florida|
|  2|        11298|         1129803| DFW|Dallas/Fort Worth...|       TX|         Texas|
|  3|        11433|         1143301| DTW|         Detroit, MI|       MI|      Michigan|
|  4|        11057|         1105702| CLT|       Charlotte, NC|       NC|North Carolina|
|  5|        14814|         1481401| SHV|      Shreveport, LA|       LA|     Louisiana|
|  6|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  7|        10868|         1086803| CAE|        Columbia, SC|       SC|South Carolina|
|  8|        11042|         1104201| CLE|       Cleveland, OH|       OH|          Ohio|
|  9|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 10|        12892|         1289201| LAX|     Los Angeles, CA|       CA|    California|
| 11|        11259|         1125903| DAL|          Dallas, TX|       TX|         Texas|
| 12|        13303|         1330302| MIA|           Miami, FL|       FL|       Florida|
| 13|        12892|         1289203| LAX|     Los Angeles, CA|       CA|    California|
| 14|        12953|         1295301| LGA|        New York, NY|       NY|      New York|
| 15|        10821|         1082102| BWI|       Baltimore, MD|       MD|      Maryland|
| 16|        13184|         1318402| MBS|Saginaw/Bay City/...|       MI|      Michigan|
| 17|        14747|         1474703| SEA|         Seattle, WA|       WA|    Washington|
| 18|        12264|         1226401| IAD|      Washington, DC|       VA|      Virginia|
| 19|        12892|         1289205| LAX|     Los Angeles, CA|       CA|    California|
+---+-------------+----------------+----+--------------------+---------+--------------+
only showing top 20 rows

In [265]:
AirlineDF = spark.read.option("header","true").csv("/content/airlines1.csv")

In [266]:
AirlineDF.show()

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  7|2019|      2|    6|        11|        2|2019-06-11|               9E|                   20363|                         9E|     N927XJ|                           3459|          10397|           1039707|             30397|   ATL|         Atlanta, GA|         GA|           13.0|        Georgia|       34|        10868|         1086803|           30868| CAE|        Columbia, SC|       SC|         45.0|South Carolina|     37|      1950| 2331.0|   221.0|          221.0|     1.0|                12.0| 1900-1959|   19.0|   2350.0|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|      0.0|            null|     0.0|          67.0|             60.0|   35.0|    1.0|   192.0|            1|         0.0|         0.0|     0.0|          0.0|            214.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  8|2008|      3|    8|         3|        7|2008-08-03|               YV|                   20378|                         YV|     N522LR|                           7233|          13930|           1393001|             30977|   ORD|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1550| 1552.0|     2.0|            2.0|     0.0|                 0.0| 1500-1559|   26.0|   1618.0|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|      0.0|            null|     0.0|          80.0|             88.0|   59.0|    1.0|   316.0|            2|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  9|2018|      1|    2|         8|        4|2018-02-08|               WN|                   19393|                         WN|     N8688J|                           5932|          13232|           1323202|             30977|   MDW|         Chicago, IL|         IL|           17.0|       Illinois|       41|        11259|         1125903|           30194| DAL|          Dallas, TX|       TX|         48.0|         Texas|     74|      2030| 2046.0|    16.0|           16.0|     1.0|                 1.0| 2000-2059|   34.0|   2120.0|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|      0.0|            null|     0.0|         140.0|            153.0|  114.0|    1.0|   793.0|            4|         0.0|         0.0|    13.0|          0.0|             16.0|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

In [267]:
AirlineDF.columns

['_c0',
 'Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

###Create multiple dataframes as per the information

In [268]:
AirlineTimeInfo = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , "FlightDate" )
AirlineInfo = AirlineDF.select("_c0","Reporting_Airline","DOT_ID_Reporting_Airline", "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline" )
AirlineOriginInfo = AirlineDF.select("_c0","OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", "OriginWac" )
AirlineDestinationInfo = AirlineDF.select("_c0","DestAirportID","DestAirportSeqID", "DestCityMarketID", "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", "DestWac" )
AirlineDepartureInfo = AirlineDF.select("_c0","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff" )
AirlineArrivalInfo = AirlineDF.select("_c0","WheelsOn","TaxiIn", "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", "ArrivalDelayGroups", "ArrTimeBlk" )
AirlineCanDivInfo = AirlineDF.select("_c0","Cancelled","CancellationCode", "Diverted" )
AirlineSummry = AirlineDF.select("_c0","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", "Distance" , "DistanceGroup" )
AirlineDelayInfo = AirlineDF.select("_c0","CarrierDelay","WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay" )

In [269]:
AirlineInfo.show()

+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|_c0|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|
+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|  0|               NW|                   19386|                         NW|     N297US|                            675|
|  1|               FL|                   20437|                         FL|     N946AT|                            671|
|  2|               MQ|                   20398|                         MQ|     N665MQ|                           3297|
|  3|               DL|                   19790|                         DL|     N6705Y|                           1806|
|  4|               US|                   20355|                         US|     N504AU|                            465|
|  5|               DL|                   19790|                         DL|     N925DL|                           1198|
|  6|               CO|                   19704|                         CO|     N27724|                           1431|
|  7|               9E|                   20363|                         9E|     N927XJ|                           3459|
|  8|               YV|                   20378|                         YV|     N522LR|                           7233|
|  9|               WN|                   19393|                         WN|     N8688J|                           5932|
| 10|               US|                   20355|                         US|       null|                           2135|
| 11|               WN|                   19393|                         WN|     N374SW|                           1463|
| 12|               AA|                   19805|                         AA|       null|                            830|
| 13|               OO|                   20304|                         OO|     N947SW|                           6474|
| 14|               UA|                   19977|                         UA|     N308UA|                            674|
| 15|               PI|                   19822|                         PI|       null|                            362|
| 16|               NW|                   19386|                         NW|     N8928E|                           1678|
| 17|               AS|                   19930|                         AS|     N589AS|                            413|
| 18|               UA|                   19977|                         UA|     N426UA|                            210|
| 19|               WN|                   19393|                         WN|     N252WN|                            995|
+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
only showing top 20 rows

In [270]:
AirlineTimeInfo.select('_c0').count()

50001

In [271]:
AirlineTimeInfo.select('Year','FlightDate').filter((AirlineTimeInfo.Year >= 2015) & (AirlineTimeInfo.Year <= 2020)).show()

+----+----------+
|Year|FlightDate|
+----+----------+
|2019|2019-06-11|
|2018|2018-02-08|
|2015|2015-09-05|
|2017|2017-07-26|
|2020|2020-03-24|
|2019|2019-09-02|
|2019|2019-03-27|
|2016|2016-03-09|
|2018|2018-06-25|
|2015|2015-03-12|
|2017|2017-05-05|
|2017|2017-03-10|
|2019|2019-02-13|
|2015|2015-03-17|
|2016|2016-05-25|
|2016|2016-05-04|
|2016|2016-08-12|
|2017|2017-03-09|
|2016|2016-06-13|
|2019|2019-05-08|
+----+----------+
only showing top 20 rows

In [272]:
AirlineInfo.show()

+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|_c0|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|
+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
|  0|               NW|                   19386|                         NW|     N297US|                            675|
|  1|               FL|                   20437|                         FL|     N946AT|                            671|
|  2|               MQ|                   20398|                         MQ|     N665MQ|                           3297|
|  3|               DL|                   19790|                         DL|     N6705Y|                           1806|
|  4|               US|                   20355|                         US|     N504AU|                            465|
|  5|               DL|                   19790|                         DL|     N925DL|                           1198|
|  6|               CO|                   19704|                         CO|     N27724|                           1431|
|  7|               9E|                   20363|                         9E|     N927XJ|                           3459|
|  8|               YV|                   20378|                         YV|     N522LR|                           7233|
|  9|               WN|                   19393|                         WN|     N8688J|                           5932|
| 10|               US|                   20355|                         US|       null|                           2135|
| 11|               WN|                   19393|                         WN|     N374SW|                           1463|
| 12|               AA|                   19805|                         AA|       null|                            830|
| 13|               OO|                   20304|                         OO|     N947SW|                           6474|
| 14|               UA|                   19977|                         UA|     N308UA|                            674|
| 15|               PI|                   19822|                         PI|       null|                            362|
| 16|               NW|                   19386|                         NW|     N8928E|                           1678|
| 17|               AS|                   19930|                         AS|     N589AS|                            413|
| 18|               UA|                   19977|                         UA|     N426UA|                            210|
| 19|               WN|                   19393|                         WN|     N252WN|                            995|
+---+-----------------+------------------------+---------------------------+-----------+-------------------------------+
only showing top 20 rows

In [273]:
AirlineInfo.select("Reporting_Airline").groupBy("Reporting_Airline").count().show()

+-----------------+-----+
|Reporting_Airline|count|
+-----------------+-----+
|               UA| 4830|
|               EA|  237|
|               PI|  238|
|               NK|  213|
|               PS|   16|
|               AA| 5834|
|               NW| 2792|
|               EV| 1749|
|               B6|  905|
|               HP|  899|
|               TW|  949|
|               DL| 6691|
|               OO| 2719|
|               F9|  372|
|               YV|  562|
|               TZ|   54|
|               US| 4230|
|               MQ| 2015|
|               OH|  607|
|               HA|  304|
+-----------------+-----+
only showing top 20 rows

In [274]:
CarrierDF = spark.read.option("header", "true").csv("/content/carriers.csv")

In [275]:
CarrierDF.show(200)

+------+--------------------+
|  Code|         Description|
+------+--------------------+
|   02Q|       Titan Airways|
|   04Q|  Tradewind Aviation|
|   05Q| Comlux Aviation, AG|
|   06Q|Master Top Linhas...|
|   07Q| Flair Airlines Ltd.|
|   09Q|      Swift Air, LLC|
|   0BQ|                 DCA|
|   0CQ|ACM AIR CHARTER GmbH|
|   0FQ|Maine Aviation Ai...|
|   0GQ|Inter Island Airw...|
|   0HQ|Polar Airlines de...|
|    0J|          JetClub AG|
|   0JQ|     Vision Airlines|
|   0KQ|Mokulele Flight S...|
|   0LQ|   Metropix UK, LLP.|
|   0MQ|Multi-Aero, Inc. ...|
|    0Q| Flying Service N.V.|
|    16|   PSA Airlines Inc.|
|    17|   Piedmont Airlines|
|    1I|Sky Trek Int'l Ai...|
|    2E| Smokey Bay Air Inc.|
|    2F|Frontier Flying S...|
|    2M|Midway Express Ai...|
|    2O|  Island Air Service|
|    2R|           Regal Air|
|    2T|Canada 3000 Airli...|
|    2U|Valley Air Expres...|
|    37|            Zeal 320|
|    3C|   Regions Air, Inc.|
|    3F|Pacific Airways, ...|
|    3M|      Gulfstream Int|
|    3Z|Tatonduk Flying S...|
|    4B|   Olson Air Service|
|    4E|  Tanana Air Service|
|4E (1)|British Airtours ...|
|    4H|    Belize Trans Air|
|    4M|       LAN Argentina|
|4M (1)|        Lan Dominica|
|    4N|           Air North|
|    4R|Regent Air Corpor...|
|    4S|Sol Air (Aero Hun...|
|4S (1)|Conner Air Lines ...|
|    4T|Belair Airlines Ltd.|
|    4W|            Warbelow|
|    4Y|Yute Air Aka Flig...|
|    5B|        Bellair Inc.|
|    5C|C.A.L Cargo Airlines|
|    5D|         Aerolitoral|
|    5F|Arctic Circle Air...|
|    5G|Skyservice Airlin...|
|5G (1)|           Queen Air|
|    5J|Private Jet Exped...|
|    5X|United Parcel Ser...|
|    5Y|      Atlas Air Inc.|
|    6A|    Aviacsa Airlines|
|    6B|Britannia Airways...|
|    6C|Cape Smythe Air S...|
|    6F|  Laker Airways Inc.|
|    6H|     Israir Airlines|
|    6P|Pacific East Air ...|
|    6R|Aerounion Aerotra...|
|    6U|         Air Ukraine|
|    6Y|Nicaraguense De A...|
|    7B|             Krasair|
|    7F|           First Air|
|    7G|    MK Airlines Ltd.|
|7G (1)|    Bellair Inc. (1)|
|    7H|        Era Aviation|
|    7M|  Aeromonterrey S.A.|
|    7N|Inland Aviation S...|
|    7P|Apa International...|
|    7S|Arctic Transporta...|
|7S (1)|Skystar Internati...|
|    7Z|          Lb Limited|
|    8C|Air Transport Int...|
|    8D|    Servant Air Inc.|
|    8E|     Bering Air Inc.|
|    8F|        Wilburs Inc.|
|    8J|      Jetall Airways|
|    8L|Servicio Aereo Le...|
|    8N|Flagship Airlines...|
|    8Q| Baker Aviation Inc.|
|    8R|    Edelweiss Air Ag|
|    8V|  Wright Air Service|
|    9E|Pinnacle Airlines...|
|    9J|Pacific Island Av...|
|    9K|            Cape Air|
|    9L|          Colgan Air|
|    9M|Central Mountain Air|
|    9N|ANA & JP Express ...|
|    9R|Flagship Express ...|
|    9S|   Southern Air Inc.|
|    9T|TravelspanGT, Inc...|
|    9V|Avior Airlines, C.A.|
|    9W|Jet Airways (Indi...|
|    A0|Elysair d/b/a L'A...|
|    A2|      Cielos De Peru|
|    A4|Southern Wind Air...|
|    A7|      Air Comet S.A.|
|A7 (1)|              Air 21|
|    AA|American Airlines...|
|   AAA|Associated Aviati...|
|   AAB|Antilles Air Boat...|
|   AAE|        AAA Airlines|
|   AAI|       Audi Air Inc.|
|   AAL|Argosy Air Lines ...|
|   AAP|Armstrong Air Ser...|
|   AAQ|Advance Air Charters|
|   AAR|Altair Airlines Inc.|
|   AAT|   Air Sunshine Inc.|
|   AAV|          Alpine Air|
|   AAZ|Alaska Aeronautic...|
|   ABH|           Air Bahia|
|   ABI|Airbama Incorporated|
|   ABO|Aeronaves Boringu...|
|   ABX|       Abx Air, Inc.|
|    AC|          Air Canada|
|   ACA|Alaska Central Ai...|
|   ACD|    Academy Airlines|
|   ACG|Air Cargo Express...|
|   ACH|Island Airlines H...|
|   ACI|AAA-Action Air Ca...|
|   ACJ|Atlantic Coast Je...|
|   ACK|    Air Central Inc.|
|   ACL|      Check-Air Inc.|
|   ACN|   Alliance Airlines|
|   ACO|Air Cargo Enterpr...|
|   ACP|  Air Chaparral Inc.|
|   ACQ|Aeronautica De Ca...|
|   ACS|Alamo Commuter Ai...|
|   ACT|Air Central Inc. (1)|
|   ACW|Transwest Air Exp...|
|    AD|Avia Leasing Company|
|   ADQ|  Aeronaves Del Peru|
|   ADR| Adirondack Airlines|
|   ADV|  Advantage Airlines|
|    AE|  Air Europe Limited|
|   AEC| Astec Air East Inc.|
|   AED|Air East Of Delaw...|
|   AEF|        Aero Freight|
|   AEO|          Aero Coach|
|   AEQ|   Air Caravane Inc.|
|   AEX|  Air Excursions LLC|
|    AF|Compagnie Nat'l A...|
|   AFA|American Flag Air...|
|   AFE| Air Florida Express|
|   AFG|American Flight G...|
|   AFQ|Aero B Venezuela ...|
|   AFS|Arcata Flying Ser...|
|   AGA|Air Cargo America...|
|   AGQ|          Argo S. A.|
|   AHA|           Air Alpha|
|   AHC|          Air Hawaii|
|   AHQ|        Air National|
|    AI|           Air-India|
|   AIA|      All Island Air|
|   AIC|       Air Caribbean|
|   AIE|    Air Express Inc.|
|   AIG|          Airgo Inc.|
|   AIK|Air Ketchum Idaho...|
|   AIM|      Air Mont. Inc.|
|   AIN|         Air Indiana|
|   AIQ|           Norontair|
|   AIT|Airways Internati...|
|   AIY|        Alliance Air|
|    AJ| Air Micronesia Inc.|
|   AJQ|   Aerodynamics Inc.|
|   AKQ|Airmark Airlines ...|
|    AL|     Skyway Airlines|
|   ALD|     Allied Airlines|
|   ALE|Air-Lift Associat...|
|   ALI|          Brandt Air|
|   ALK|    Air Link Airways|
|   ALL|All Seasons Air P...|
|   ALQ|Alberta Northern ...|
|   ALS|            Air L.A.|
|   ALT|      Altus Airlines|
|   ALU|        Aleutian Air|
|   ALX|     Atlanta Express|
|    AM|          Aeromexico|
|   AMA|North American Ai...|
|   AME|      Americair Inc.|
|   AMI|American Inter-Is...|
|   AMQ| Ameristar Air Cargo|
|   AMR|               AvAir|
|   AMT|American Air Tran...|
|   ANB|   Air Nebraska Inc.|
|   ANC|        Atlantic Air|
|   AND|Southcentral Air ...|
|   ANI|Dash Air Corporation|
|   ANM|Airways Of New Me...|
|   ANO|Metro Air Northea...|
|   ANT|    Air North/Nenana|
|    AO|Aviacion Y Comerc...|
|   AOI|      Trans New York|
|   AON|     Action Airlines|
|   AOQ|       Aerovias S.A.|
|   AOR|     Air New Orleans|
|   APE|            Air Cape|
|   APH|           Alpha Air|
+------+--------------------+
only showing top 200 rows

In [276]:
AirlineOriginInfo.show(5)

+---+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+
|_c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|    OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|
+---+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+
|  0|          13487|           1348701|             31650|   MSP|   Minneapolis, MN|         MN|           27.0|      Minnesota|       63|
|  1|          13342|           1334202|             33342|   MKE|     Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|
|  2|          11921|           1192102|             31921|   GJT|Grand Junction, CO|         CO|            8.0|       Colorado|       82|
|  3|          12892|           1289201|             32575|   LAX|   Los Angeles, CA|         CA|            6.0|     California|       91|
|  4|          11618|           1161801|             31703|   EWR|        Newark, NJ|         NJ|           34.0|     New Jersey|       21|
+---+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+
only showing top 5 rows

In [277]:
AirlineDepartureInfo.show(5)

+---+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+
|_c0|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|
+---+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+
|  0|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|
|  1|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|
|  2|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|
|  3|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|
|  4|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|
+---+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+
only showing top 5 rows

In [278]:
AirlineDestinationInfo.show(5)

+---+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+
|_c0|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|
+---+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+
|  0|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|
|  1|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|
|  2|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|
|  3|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|
|  4|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|
+---+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+
only showing top 5 rows

In [279]:
AirlineDepartureInfo.select('_c0','DepDelayMinutes').filter("DepDelayMinutes < 15").show()

+---+---------------+
|_c0|DepDelayMinutes|
+---+---------------+
|  1|            0.0|
|  2|           14.0|
|  3|            0.0|
|  5|            0.0|
|  6|            0.0|
|  8|            2.0|
| 10|            2.0|
| 11|            0.0|
| 12|            0.0|
| 13|            0.0|
| 14|            0.0|
| 15|            1.0|
| 16|            0.0|
| 17|            0.0|
| 18|            0.0|
| 20|            0.0|
| 21|            0.0|
| 22|            0.0|
| 24|           10.0|
| 25|            0.0|
+---+---------------+
only showing top 20 rows

In [280]:
AirlineDepartureInfo.select('_c0','DepDelayMinutes').filter('DepDelayminutes >= 15').show()

+---+---------------+
|_c0|DepDelayMinutes|
+---+---------------+
|  0|           19.0|
|  4|           51.0|
|  7|          221.0|
|  9|           16.0|
| 23|           52.0|
| 44|           38.0|
| 45|          129.0|
| 49|           25.0|
| 50|           32.0|
| 60|           21.0|
| 65|          215.0|
| 74|           39.0|
| 80|           30.0|
| 82|           84.0|
| 97|           37.0|
|102|           24.0|
|103|           16.0|
|104|           18.0|
|107|          116.0|
|114|           33.0|
+---+---------------+
only showing top 20 rows

In [281]:
AirlineArrivalInfo.show()

+---+--------+------+----------+-------+--------+---------------+--------+------------------+----------+
|_c0|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|
+---+--------+------+----------+-------+--------+---------------+--------+------------------+----------+
|  0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|
|  1|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|
|  2|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|
|  3|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|
|  4|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|
|  5|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|
|  6|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|
|  7|    25.0|   6.0|      2057|   31.0|   214.0|          214.0|     1.0|              12.0| 2000-2059|
|  8|  1817.0|   3.0|      1810| 1820.0|    10.0|           10.0|     0.0|               0.0| 1800-1859|
|  9|  2314.0|   5.0|      2250| 2319.0|    29.0|           29.0|     1.0|               1.0| 2200-2259|
| 10|    null|  null|      1325| 1331.0|     6.0|            6.0|     0.0|               0.0| 1300-1359|
| 11|  1252.0|   3.0|      1300| 1255.0|    -5.0|            0.0|     0.0|              -1.0| 1300-1359|
| 12|    null|  null|      1521| 1511.0|   -10.0|            0.0|     0.0|              -1.0| 1500-1559|
| 13|  1638.0|   8.0|      1705| 1646.0|   -19.0|            0.0|     0.0|              -2.0| 1700-1759|
| 14|  1148.0|   2.0|      1206| 1150.0|   -16.0|            0.0|     0.0|              -2.0| 1200-1259|
| 15|    null|  null|       728|  737.0|     9.0|            9.0|     0.0|               0.0| 0700-0759|
| 16|  1234.0|   5.0|      1246| 1239.0|    -7.0|            0.0|     0.0|              -1.0| 1200-1259|
| 17|  1824.0|   8.0|      1855| 1832.0|   -23.0|            0.0|     0.0|              -2.0| 1800-1859|
| 18|  2308.0|   5.0|      2327| 2313.0|   -14.0|            0.0|     0.0|              -1.0| 2300-2359|
| 19|    null|  null|      1700|   null|    null|           null|    null|              null| 1700-1759|
+---+--------+------+----------+-------+--------+---------------+--------+------------------+----------+
only showing top 20 rows

In [282]:
AirlineArrivalInfo.select('_c0','ArrDelayMinutes').filter('ArrDelayMinutes < 15').show()

+---+---------------+
|_c0|ArrDelayMinutes|
+---+---------------+
|  1|            0.0|
|  2|            0.0|
|  3|            0.0|
|  5|           11.0|
|  6|            2.0|
|  8|           10.0|
| 10|            6.0|
| 11|            0.0|
| 12|            0.0|
| 13|            0.0|
| 14|            0.0|
| 15|            9.0|
| 16|            0.0|
| 17|            0.0|
| 18|            0.0|
| 20|            0.0|
| 21|            0.0|
| 22|            8.0|
| 25|            6.0|
| 26|            0.0|
+---+---------------+
only showing top 20 rows

In [283]:
AirlineArrivalInfo.select('_c0','ArrDelayMinutes').filter('ArrDelayMinutes >= 15').show()

+---+---------------+
|_c0|ArrDelayMinutes|
+---+---------------+
|  0|           23.0|
|  4|           32.0|
|  7|          214.0|
|  9|           29.0|
| 23|           44.0|
| 24|           17.0|
| 29|           39.0|
| 41|           84.0|
| 44|           22.0|
| 45|          119.0|
| 47|           18.0|
| 49|           19.0|
| 50|           35.0|
| 55|           24.0|
| 60|           21.0|
| 65|          221.0|
| 74|           26.0|
| 77|           22.0|
| 82|           89.0|
| 90|           16.0|
+---+---------------+
only showing top 20 rows

In [284]:

AirlineArrivalInfo.select('ArrDelayMinutes').filter("ArrDelayMinutes >= 15").count()

9775

In [285]:
AirlineCanDivInfo.show(5)

+---+---------+----------------+--------+
|_c0|Cancelled|CancellationCode|Diverted|
+---+---------+----------------+--------+
|  0|      0.0|            null|     0.0|
|  1|      0.0|            null|     0.0|
|  2|      0.0|            null|     0.0|
|  3|      0.0|            null|     0.0|
|  4|      0.0|            null|     0.0|
+---+---------+----------------+--------+
only showing top 5 rows

In [286]:
AirlineCanDivInfo.select('Cancelled').filter("Cancelled  == 1").count()

878

In [287]:
AirlineCanDivInfo.select('Diverted').filter('Diverted == 1').count()

133

In [288]:
AirlineSummry.show(5)

+---+--------------+-----------------+-------+-------+--------+-------------+
|_c0|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|
+---+--------------+-----------------+-------+-------+--------+-------------+
|  0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|
|  1|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|
|  2|         135.0|            118.0|  103.0|    1.0|   773.0|            4|
|  3|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|
|  4|         126.0|            107.0|   80.0|    1.0|   529.0|            3|
+---+--------------+-----------------+-------+-------+--------+-------------+
only showing top 5 rows

In [289]:
AirlineDelayInfo.show(5)

+---+------------+------------+--------+-------------+-----------------+
|_c0|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+---+------------+------------+--------+-------------+-----------------+
|  0|        null|        null|    null|         null|             null|
|  1|        null|        null|    null|         null|             null|
|  2|        null|        null|    null|         null|             null|
|  3|        null|        null|    null|         null|             null|
|  4|         0.0|         0.0|     0.0|          0.0|             32.0|
+---+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

In [290]:
AirlineDelayInfo.select('CarrierDelay').filter('CarrierDelay > 0').count()

2663

In [291]:
AirlineDelayInfo.select('WeatherDelay').filter('WeatherDelay > 0').count()

360

In [292]:
AirlineDelayInfo.select('NASDelay').filter('NASDelay > 0').count()

3202

In [293]:
AirlineDelayInfo.select('SecurityDelay').filter('SecurityDelay > 0').count()

21

In [294]:
AirlineDelayInfo.select('LateAircraftDelay').filter('LateAircraftDelay > 0').count()

2685

###Create a Dataframe

In [295]:
AirlineDF5 = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , \
                              "FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline", \
                              "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline", \
                              "OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", \
                              "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", \
                              "OriginWac","DestAirportID","DestAirportSeqID", "DestCityMarketID", \
                              "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", \
                              "DestWac","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , \
                              "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff","WheelsOn","TaxiIn", \
                              "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", \
                              "ArrivalDelayGroups", "ArrTimeBlk","Cancelled","CancellationCode", \
                              "Diverted","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", \
                              "Distance" , "DistanceGroup","CarrierDelay","WeatherDelay", "NASDelay", \
                              "SecurityDelay", "LateAircraftDelay" )

##Case Study - 1

## Departure Delay Report for all flights between 2000 & 2020

In [296]:
# calculate total no of flights and  group data by Carrier
df1 = AirlineDF5.select('Year', 'Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).groupBy('Reporting_Airline').count().withColumnRenamed("count", "TotalFlights").orderBy("Reporting_Airline")

In [297]:
df1.show()

+-----------------+------------+
|Reporting_Airline|TotalFlights|
+-----------------+------------+
|               9E|         518|
|               AA|        3620|
|               AS|         889|
|               B6|         905|
|               CO|         909|
|               DH|         168|
|               DL|        3938|
|               EV|        1749|
|               F9|         372|
|               FL|         622|
|               G4|          55|
|               HA|         304|
|               HP|         299|
|               KH|          42|
|               MQ|        2015|
|               NK|         213|
|               NW|        1202|
|               OH|         607|
|               OO|        2719|
|               TW|         123|
+-----------------+------------+
only showing top 20 rows

In [298]:
#Calculate total no of Departure delay flights
df2 = AirlineDF5.select('Reporting_Airline','DepDelayMinutes').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('DepDelayMinutes >= 10').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Departure Delay Flights').orderBy('Reporting_Airline')

In [299]:
df2.show()

+-----------------+-----------------------------+
|Reporting_Airline|Total Departure Delay Flights|
+-----------------+-----------------------------+
|               9E|                           96|
|               AA|                          780|
|               AS|                          166|
|               B6|                          224|
|               CO|                          180|
|               DH|                           44|
|               DL|                          728|
|               EV|                          453|
|               F9|                           87|
|               FL|                          147|
|               G4|                           15|
|               HA|                           25|
|               HP|                           63|
|               KH|                            5|
|               MQ|                          445|
|               NK|                           50|
|               NW|                          225|
|               OH|                          137|
|               OO|                          546|
|               TW|                           21|
+-----------------+-----------------------------+
only showing top 20 rows

In [300]:
# calculate total no. of arrival delay flights
df3 = AirlineDF5.select('Reporting_Airline', 'ArrDelayMinutes').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('ArrDelayMinutes > 10').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Arrival Delay Flights').orderBy('Reporting_Airline')

In [301]:
df3.show()

+-----------------+---------------------------+
|Reporting_Airline|Total Arrival Delay Flights|
+-----------------+---------------------------+
|               9E|                        103|
|               AA|                        850|
|               AS|                        185|
|               B6|                        230|
|               CO|                        231|
|               DH|                         48|
|               DL|                        782|
|               EV|                        455|
|               F9|                        103|
|               FL|                        151|
|               G4|                         15|
|               HA|                         35|
|               HP|                         82|
|               KH|                          5|
|               MQ|                        505|
|               NK|                         57|
|               NW|                        300|
|               OH|                        164|
|               OO|                        596|
|               TW|                         30|
+-----------------+---------------------------+
only showing top 20 rows

In [302]:
#calculate total no. of cancelled flights
df4 = AirlineDF5.select('Reporting_Airline', 'Cancelled').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('Cancelled = 1').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Cancelled Flights').orderBy('Reporting_Airline')

In [303]:
df4.show()

+-----------------+-----------------------+
|Reporting_Airline|Total Cancelled Flights|
+-----------------+-----------------------+
|               9E|                     13|
|               AA|                     70|
|               AS|                     11|
|               B6|                     12|
|               CO|                     12|
|               DH|                      6|
|               DL|                     54|
|               EV|                     32|
|               F9|                      1|
|               FL|                      3|
|               HP|                      5|
|               MQ|                     82|
|               NK|                      3|
|               NW|                     20|
|               OH|                     14|
|               OO|                     58|
|               TW|                      3|
|               UA|                     52|
|               US|                     35|
|               VX|                      1|
+-----------------+-----------------------+
only showing top 20 rows

In [304]:
# calculate total no. of diverted flights
df5 = AirlineDF5.select('Reporting_Airline', 'Diverted').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('Diverted = 1').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Divetrted Flights').orderBy('Reporting_Airline')

In [305]:
df5.show()

+-----------------+-----------------------+
|Reporting_Airline|Total Divetrted Flights|
+-----------------+-----------------------+
|               AA|                      5|
|               AS|                      5|
|               B6|                      3|
|               CO|                      1|
|               DH|                      1|
|               DL|                      8|
|               EV|                     11|
|               FL|                      4|
|               G4|                      1|
|               MQ|                     10|
|               NW|                      4|
|               OH|                      1|
|               OO|                     10|
|               UA|                      7|
|               US|                      2|
|               VX|                      1|
|               WN|                     11|
|               XE|                      2|
|               YV|                      3|
+-----------------+-----------------------+

In [306]:
# calculate total no. of carrier delay flights
df6 = AirlineDF5.select('Reporting_Airline', 'CarrierDelay').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('CarrierDelay > 0').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Carrier Delayed Flights').orderBy('Reporting_Airline')

In [307]:
df6.show()

+-----------------+-----------------------------+
|Reporting_Airline|Total Carrier Delayed Flights|
+-----------------+-----------------------------+
|               9E|                           33|
|               AA|                          277|
|               AS|                           40|
|               B6|                          125|
|               CO|                           49|
|               DH|                           13|
|               DL|                          243|
|               EV|                          206|
|               F9|                           36|
|               FL|                           32|
|               G4|                            8|
|               HA|                           18|
|               HP|                           14|
|               MQ|                          146|
|               NK|                           17|
|               NW|                           73|
|               OH|                           59|
|               OO|                          197|
|               TZ|                            1|
|               UA|                          213|
+-----------------+-----------------------------+
only showing top 20 rows

In [308]:
# calculate total no. of weather delay flights
df7 = AirlineDF5.select('Reporting_Airline', 'WeatherDelay').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('WeatherDelay > 0').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Weather Delayed Flights').orderBy('Reporting_Airline')

In [309]:
df7.show()

+-----------------+-----------------------------+
|Reporting_Airline|Total Weather Delayed Flights|
+-----------------+-----------------------------+
|               9E|                            5|
|               AA|                           64|
|               AS|                            2|
|               B6|                            8|
|               CO|                           12|
|               DH|                            2|
|               DL|                           28|
|               EV|                           30|
|               F9|                            3|
|               FL|                            1|
|               G4|                            4|
|               HA|                            2|
|               MQ|                           43|
|               NK|                            2|
|               NW|                           15|
|               OH|                           24|
|               OO|                           23|
|               UA|                           19|
|               US|                           13|
|               VX|                            3|
+-----------------+-----------------------------+
only showing top 20 rows

In [310]:
#calculate total no. of NAS delay flights
df8 = AirlineDF5.select('Reporting_Airline', 'CarrierDelay').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('NASDelay > 0').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total NAS Delayed Flights').orderBy('Reporting_Airline')

In [311]:
df8.show()

+-----------------+-------------------------+
|Reporting_Airline|Total NAS Delayed Flights|
+-----------------+-------------------------+
|               9E|                       54|
|               AA|                      356|
|               AS|                       68|
|               B6|                      134|
|               CO|                      103|
|               DH|                       20|
|               DL|                      327|
|               EV|                      227|
|               F9|                       57|
|               FL|                       77|
|               G4|                        3|
|               HP|                       15|
|               MQ|                      235|
|               NK|                       44|
|               NW|                       97|
|               OH|                       84|
|               OO|                      219|
|               TZ|                        5|
|               UA|                      276|
|               US|                      174|
+-----------------+-------------------------+
only showing top 20 rows

In [312]:
#calculate total no. of security delay flights
df9 = AirlineDF5.select('Reporting_Airline', 'SecurityDelay').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('SecurityDelay > 0').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total Security Delayed Flights').orderBy('Reporting_Airline')

In [313]:
df9.show()

+-----------------+------------------------------+
|Reporting_Airline|Total Security Delayed Flights|
+-----------------+------------------------------+
|               AA|                             1|
|               AS|                             1|
|               B6|                             1|
|               DL|                             1|
|               NW|                             2|
|               OO|                             1|
|               TZ|                             1|
|               US|                             2|
|               VX|                             1|
|               WN|                             7|
|               XE|                             2|
|               YV|                             1|
+-----------------+------------------------------+

In [314]:
# calculate total no. of late aircraft delay flights
df10 = AirlineDF5.select('Reporting_Airline', 'LateAircraftDelay').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).filter('LateAircraftDelay > 0').groupBy('Reporting_Airline').count().withColumnRenamed('Count', 'Total LateAircraft Delayed Flights').orderBy('Reporting_Airline')

In [315]:
df10.show()

+-----------------+----------------------------------+
|Reporting_Airline|Total LateAircraft Delayed Flights|
+-----------------+----------------------------------+
|               9E|                                35|
|               AA|                               286|
|               AS|                                43|
|               B6|                               111|
|               CO|                                37|
|               DH|                                16|
|               DL|                               214|
|               EV|                               178|
|               F9|                                43|
|               FL|                                64|
|               G4|                                 8|
|               HA|                                 9|
|               HP|                                 6|
|               KH|                                 3|
|               MQ|                               205|
|               NK|                                11|
|               NW|                                47|
|               OH|                                35|
|               OO|                               256|
|               TZ|                                 2|
+-----------------+----------------------------------+
only showing top 20 rows

In [316]:
# joining multiple dataframe
DelayReport = df1.alias("df1").join(df2.alias("df2"),["Reporting_Airline"]).join(df3.alias("df3"),["Reporting_Airline"]).join(df4.alias("df4"),["Reporting_Airline"]).join(df5.alias("df5"),["Reporting_Airline"]).join(df6.alias("df6"),["Reporting_Airline"]).join(df7.alias("df7"),["Reporting_Airline"]).join(df8.alias("df8"),["Reporting_Airline"]).join(df9.alias("df9"),["Reporting_Airline"]).join(df10.alias("df10"),["Reporting_Airline"])

In [317]:
#complete delay report
DelayReport.show(5)

+-----------------+------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+
|Reporting_Airline|TotalFlights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Divetrted Flights|Total Carrier Delayed Flights|Total Weather Delayed Flights|Total NAS Delayed Flights|Total Security Delayed Flights|Total LateAircraft Delayed Flights|
+-----------------+------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+
|               AA|        3620|                          780|                        850|                     70|                      5|                          277|                           64|                      356|                             1|                               286|
|               NW|        1202|                          225|                        300|                     20|                      4|                           73|                           15|                       97|                             2|                                47|
|               B6|         905|                          224|                        230|                     12|                      3|                          125|                            8|                      134|                             1|                               111|
|               DL|        3938|                          728|                        782|                     54|                      8|                          243|                           28|                      327|                             1|                               214|
|               OO|        2719|                          546|                        596|                     58|                     10|                          197|                           23|                      219|                             1|                               256|
+-----------------+------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+
only showing top 5 rows

In [318]:
#Statistics of Delay Report
DelayReport.describe().show()

+-------+-----------------+------------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+
|summary|Reporting_Airline|      TotalFlights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Divetrted Flights|Total Carrier Delayed Flights|Total Weather Delayed Flights|Total NAS Delayed Flights|Total Security Delayed Flights|Total LateAircraft Delayed Flights|
+-------+-----------------+------------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+
|  count|               11|                11|                           11|                         11|                     11|                     11|                           11|                           11|                       11|                            11|                                11|
|   mean|             null|2042.1818181818182|                        453.0|         463.45454545454544|      33.36363636363637|      4.909090909090909|                        164.0|            19.09090909090909|       179.72727272727272|            1.8181818181818181|                165.63636363636363|
| stddev|             null|1781.3471766155983|            463.1809581578241|         396.07988175022564|     24.475590809100918|     3.3601947995479504|           166.63493031174465|            18.40898989871278|        134.3897993964504|            1.7786613965666325|                 190.2683750533823|
|    min|               AA|               101|                           23|                         25|                      1|                      1|                            6|                            2|                       12|                             1|                                 8|
|    max|               YV|              5847|                         1633|                       1349|                     70|                     11|                          593|                           64|                      416|                             7|                               663|
+-------+-----------------+------------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+

In [319]:
import pyspark.sql.functions as f
from pyspark.sql.window import Window

In [320]:
# calculate result in percentage
df123 = DelayReport.withColumn('depdelaypercent', f.col('Total Departure Delay Flights')/f.col('TotalFlights')*100).withColumn('arrdelaypercent', f.col('Total Arrival Delay Flights')/f.col('TotalFlights')*100).withColumn('cancelledpercent', f.col('Total Cancelled Flights')/f.col('TotalFlights')*100)

In [321]:
df123.select('Reporting_Airline','TotalFlights','depdelaypercent','arrdelaypercent','cancelledpercent').show()

+-----------------+------------+------------------+------------------+------------------+
|Reporting_Airline|TotalFlights|   depdelaypercent|   arrdelaypercent|  cancelledpercent|
+-----------------+------------+------------------+------------------+------------------+
|               AA|        3620| 21.54696132596685|23.480662983425415|1.9337016574585635|
|               NW|        1202|18.718801996672212|24.958402662229616|1.6638935108153077|
|               B6|         905|24.751381215469614| 25.41436464088398|1.3259668508287292|
|               DL|        3938|18.486541391569325|19.857795835449465|1.3712544438801422|
|               OO|        2719|20.080912100036777| 21.91982346450901|  2.13313718278779|
|               YV|         562| 25.26690391459075|26.690391459074732| 3.202846975088968|
|               US|        1810|19.392265193370164|23.370165745856355|1.9337016574585635|
|               XE|         871| 18.94374282433984| 23.88059701492537| 2.525832376578645|
|               AS|         889|18.672665916760405| 20.80989876265467|1.2373453318335208|
|               VX|         101|22.772277227722775|24.752475247524753|0.9900990099009901|
|               WN|        5847| 27.92885240294168|23.071660680690954|1.1287839917906617|
+-----------------+------------+------------------+------------------+------------------+

In [322]:
#use dense rank for find top rankers by any cloumns
wT_Flights = Window.orderBy(f.desc("TotalFlights")) 
testdf1 = DelayReport.withColumn(
    "TotalFlights_rank", 
    f.dense_rank().over(wT_Flights)
)

In [323]:
testdf1.show()

+-----------------+------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+-----------------+
|Reporting_Airline|TotalFlights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Divetrted Flights|Total Carrier Delayed Flights|Total Weather Delayed Flights|Total NAS Delayed Flights|Total Security Delayed Flights|Total LateAircraft Delayed Flights|TotalFlights_rank|
+-----------------+------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+-----------------+
|               WN|        5847|                         1633|                       1349|                     66|                     11|                          593|                           37|                      416|                             7|                               663|                1|
|               DL|        3938|                          728|                        782|                     54|                      8|                          243|                           28|                      327|                             1|                               214|                2|
|               AA|        3620|                          780|                        850|                     70|                      5|                          277|                           64|                      356|                             1|                               286|                3|
|               OO|        2719|                          546|                        596|                     58|                     10|                          197|                           23|                      219|                             1|                               256|                4|
|               US|        1810|                          351|                        423|                     35|                      2|                          134|                           13|                      174|                             2|                               101|                5|
|               NW|        1202|                          225|                        300|                     20|                      4|                           73|                           15|                       97|                             2|                                47|                6|
|               B6|         905|                          224|                        230|                     12|                      3|                          125|                            8|                      134|                             1|                               111|                7|
|               AS|         889|                          166|                        185|                     11|                      5|                           40|                            2|                       68|                             1|                                43|                8|
|               XE|         871|                          165|                        208|                     22|                      2|                           55|                           10|                      130|                             2|                                55|                9|
|               YV|         562|                          142|                        150|                     18|                      3|                           61|                            7|                       44|                             1|                                38|               10|
|               VX|         101|                           23|                         25|                      1|                      1|                            6|                            3|                       12|                             1|                                 8|               11|
+-----------------+------------+-----------------------------+---------------------------+-----------------------+-----------------------+-----------------------------+-----------------------------+-------------------------+------------------------------+----------------------------------+-----------------+

In [324]:
testdf1.columns

['Reporting_Airline',
 'TotalFlights',
 'Total Departure Delay Flights',
 'Total Arrival Delay Flights',
 'Total Cancelled Flights',
 'Total Divetrted Flights',
 'Total Carrier Delayed Flights',
 'Total Weather Delayed Flights',
 'Total NAS Delayed Flights',
 'Total Security Delayed Flights',
 'Total LateAircraft Delayed Flights',
 'TotalFlights_rank']

In [325]:
testdf1.select('Reporting_Airline','TotalFlights','TotalFlights_rank').show()

+-----------------+------------+-----------------+
|Reporting_Airline|TotalFlights|TotalFlights_rank|
+-----------------+------------+-----------------+
|               WN|        5847|                1|
|               DL|        3938|                2|
|               AA|        3620|                3|
|               OO|        2719|                4|
|               US|        1810|                5|
|               NW|        1202|                6|
|               B6|         905|                7|
|               AS|         889|                8|
|               XE|         871|                9|
|               YV|         562|               10|
|               VX|         101|               11|
+-----------------+------------+-----------------+

In [326]:
AirlineDataFrame = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , \
                              "FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline", \
                              "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline", \
                              "OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", \
                              "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", \
                              "OriginWac","DestAirportID","DestAirportSeqID", "DestCityMarketID", "Dest", \
                              "DestCityName" , "DestState", "DestStateFips", "DestStateName", "DestWac", \
                              "CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , \
                              "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff","WheelsOn", \
                              "TaxiIn", "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", \
                              "ArrivalDelayGroups", "ArrTimeBlk","Cancelled","CancellationCode", \
                              "Diverted","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", \
                              "Distance" , "DistanceGroup","CarrierDelay","WeatherDelay", "NASDelay", \
                              "SecurityDelay", "LateAircraftDelay" )

##Case Study - 2
##On Time Report of all flights, distance travelled by each flight 200 miles and more than 200 miles by Origin Airport

In [327]:
#calculate total no. of flights
df1 = AirlineDataFrame.select('OriginCityName').filter('Distance >= 200').groupBy('OriginCityName').count().withColumnRenamed("count", "Total Flights").orderBy("OriginCityName")

In [328]:
df1.show()

+--------------------+-------------+
|      OriginCityName|Total Flights|
+--------------------+-------------+
|        Aberdeen, SD|            3|
|         Abilene, TX|            2|
|     Adak Island, AK|            2|
|       Aguadilla, PR|            4|
|           Akron, OH|           35|
|          Albany, NY|           97|
|     Albuquerque, NM|          290|
|      Alexandria, LA|            7|
|Allentown/Bethleh...|           41|
|        Amarillo, TX|           47|
|       Anchorage, AK|          146|
|        Appleton, WI|            6|
|   Arcata/Eureka, CA|           13|
|       Asheville, NC|            8|
|           Aspen, CO|            8|
|         Atlanta, GA|         2456|
|   Atlantic City, NJ|            5|
|         Augusta, GA|            2|
|          Austin, TX|          213|
|     Bakersfield, CA|            9|
+--------------------+-------------+
only showing top 20 rows

In [329]:
# calculate total no of on time departure flights
df2 = AirlineDataFrame.select('OriginCityName','DepDelayMinutes') \
.filter("Distance >= 200").filter("DepDelayMinutes < 10").groupBy('OriginCityName') \
.count().withColumnRenamed("count", "Total OnTime Departure Flights").orderBy("OriginCityName")

In [330]:
df2.show()

+--------------------+------------------------------+
|      OriginCityName|Total OnTime Departure Flights|
+--------------------+------------------------------+
|        Aberdeen, SD|                             2|
|         Abilene, TX|                             2|
|     Adak Island, AK|                             1|
|       Aguadilla, PR|                             3|
|           Akron, OH|                            30|
|          Albany, NY|                            80|
|     Albuquerque, NM|                           221|
|      Alexandria, LA|                             3|
|Allentown/Bethleh...|                            33|
|        Amarillo, TX|                            34|
|       Anchorage, AK|                           111|
|        Appleton, WI|                             5|
|   Arcata/Eureka, CA|                             9|
|       Asheville, NC|                             5|
|           Aspen, CO|                             5|
|         Atlanta, GA|                          1834|
|   Atlantic City, NJ|                             4|
|          Austin, TX|                           173|
|     Bakersfield, CA|                             6|
|       Baltimore, MD|                           484|
+--------------------+------------------------------+
only showing top 20 rows

In [331]:
#calculate total no of on time arrival flights
df3 = AirlineDataFrame.select('OriginCityName','ArrDelayMinutes') \
.filter("Distance >= 200").filter("ArrDelayMinutes < 10").groupBy('OriginCityName') \
.count().withColumnRenamed("count", "Total OnTime Arrival Flights").orderBy("OriginCityName")

In [332]:
df3.show()

+--------------------+----------------------------+
|      OriginCityName|Total OnTime Arrival Flights|
+--------------------+----------------------------+
|        Aberdeen, SD|                           2|
|         Abilene, TX|                           2|
|     Adak Island, AK|                           2|
|       Aguadilla, PR|                           2|
|           Akron, OH|                          26|
|          Albany, NY|                          78|
|     Albuquerque, NM|                         212|
|      Alexandria, LA|                           3|
|Allentown/Bethleh...|                          32|
|        Amarillo, TX|                          32|
|       Anchorage, AK|                          95|
|        Appleton, WI|                           4|
|   Arcata/Eureka, CA|                          10|
|       Asheville, NC|                           5|
|           Aspen, CO|                           4|
|         Atlanta, GA|                        1758|
|   Atlantic City, NJ|                           4|
|          Austin, TX|                         163|
|     Bakersfield, CA|                           6|
|       Baltimore, MD|                         461|
+--------------------+----------------------------+
only showing top 20 rows

In [333]:
#calculate total no of cancelled flights
df4 = AirlineDataFrame.select('OriginCityName','Cancelled') \
.filter("Distance >= 200").filter("Cancelled  == 1").groupBy('OriginCityName') \
.count().withColumnRenamed("count", "Total Cancelled Flights").orderBy("OriginCityName")

In [334]:
#calculate total no of diverted flights
df5 = AirlineDataFrame.select('OriginCityName','Diverted').filter("Distance >= 200").filter("Diverted  == 1").groupBy('OriginCityName') \
.count().withColumnRenamed("count", "Total Diverted Flights").orderBy("OriginCityName")

In [335]:
#join all dataframe
OnTimeCityReport = df1.alias("df1").join(df2.alias("df2"),["OriginCityName"]).join(df3.alias("df3"),["OriginCityName"]).join(df4.alias("df4"),["OriginCityName"]).join(df5.alias("df5"),["OriginCityName"])

In [336]:
OnTimeCityReport.show(3)

+----------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
|  OriginCityName|Total Flights|Total OnTime Departure Flights|Total OnTime Arrival Flights|Total Cancelled Flights|Total Diverted Flights|
+----------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
|     Ontario, CA|          228|                           190|                         176|                      3|                     1|
|Palm Springs, CA|           57|                            46|                          42|                      3|                     2|
|    Columbus, OH|          277|                           219|                         209|                      6|                     3|
+----------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
only showing top 3 rows

In [337]:
OnTimeCityReport.orderBy("OriginCityName").show(4)

+---------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
| OriginCityName|Total Flights|Total OnTime Departure Flights|Total OnTime Arrival Flights|Total Cancelled Flights|Total Diverted Flights|
+---------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
|Albuquerque, NM|          290|                           221|                         212|                      4|                     2|
|    Atlanta, GA|         2456|                          1834|                        1758|                     36|                     6|
|     Austin, TX|          213|                           173|                         163|                      1|                     1|
|  Baltimore, MD|          651|                           484|                         461|                      6|                     3|
+---------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
only showing top 4 rows

In [338]:
OnTimeCityReport.describe().show()

+-------+----------------+-----------------+------------------------------+----------------------------+-----------------------+----------------------+
|summary|  OriginCityName|    Total Flights|Total OnTime Departure Flights|Total OnTime Arrival Flights|Total Cancelled Flights|Total Diverted Flights|
+-------+----------------+-----------------+------------------------------+----------------------------+-----------------------+----------------------+
|  count|              48|               48|                            48|                          48|                     48|                    48|
|   mean|            null|          731.375|                      555.0625|           519.7708333333334|                   12.5|    2.3958333333333335|
| stddev|            null|629.3676537740251|              461.969991023641|           435.9326631382193|     13.653773541219058|    1.4838073989447285|
|    min| Albuquerque, NM|               42|                            27|                          27|                      1|                     1|
|    max|White Plains, NY|             2885|                          2063|                        1933|                     68|                     6|
+-------+----------------+-----------------+------------------------------+----------------------------+-----------------------+----------------------+

In [339]:
# calculate result in percentage
OnTimeCityReport.withColumn('OnTimeDepPercent', f.col('Total OnTime Departure Flights')/f.col('Total Flights')*100).withColumn('OnTimeArrPercent', f.col('Total OnTime Arrival Flights')/f.col('Total Flights')*100).show(3)

+----------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+-----------------+-----------------+
|  OriginCityName|Total Flights|Total OnTime Departure Flights|Total OnTime Arrival Flights|Total Cancelled Flights|Total Diverted Flights| OnTimeDepPercent| OnTimeArrPercent|
+----------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+-----------------+-----------------+
|     Ontario, CA|          228|                           190|                         176|                      3|                     1|83.33333333333334|77.19298245614034|
|Palm Springs, CA|           57|                            46|                          42|                      3|                     2| 80.7017543859649|73.68421052631578|
|    Columbus, OH|          277|                           219|                         209|                      6|                     3|79.06137184115524|75.45126353790613|
+----------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+-----------------+-----------------+
only showing top 3 rows

In [340]:
OnTimeCityReport.orderBy(col("Total OnTime Departure Flights").desc(),col("Total OnTime Departure Flights").desc()).show()

+--------------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
|      OriginCityName|Total Flights|Total OnTime Departure Flights|Total OnTime Arrival Flights|Total Cancelled Flights|Total Diverted Flights|
+--------------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
|         Chicago, IL|         2885|                          2063|                        1933|                     68|                     6|
|         Atlanta, GA|         2456|                          1834|                        1758|                     36|                     6|
|Dallas/Fort Worth...|         1990|                          1497|                        1396|                     36|                     5|
|         Houston, TX|         1511|                          1156|                        1089|                     19|                     2|
|          Denver, CO|         1528|                          1151|                        1087|                      9|                     6|
|     Los Angeles, CA|         1569|                          1150|                        1114|                     26|                     4|
|        New York, NY|         1502|                          1121|                        1022|                     52|                     2|
|         Phoenix, AZ|         1304|                           955|                         932|                      9|                     3|
|      Washington, DC|         1172|                           909|                         862|                     29|                     2|
|     Minneapolis, MN|         1083|                           838|                         764|                     22|                     6|
|         Detroit, MI|         1077|                           829|                         760|                     14|                     1|
|       Las Vegas, NV|         1078|                           806|                         778|                      6|                     1|
|   San Francisco, CA|         1065|                           805|                         730|                     20|                     1|
|          Newark, NJ|          958|                           704|                         623|                     23|                     2|
|  Salt Lake City, UT|          809|                           667|                         606|                      7|                     2|
|       Charlotte, NC|          862|                           642|                         591|                     19|                     3|
|         Seattle, WA|          824|                           637|                         603|                      8|                     3|
|       St. Louis, MO|          825|                           632|                         580|                     13|                     3|
|         Orlando, FL|          823|                           631|                         608|                     10|                     4|
|          Boston, MA|          762|                           568|                         521|                     26|                     1|
+--------------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+
only showing top 20 rows

In [341]:
OnTimeCityReport.groupBy().max('Total OnTime Departure Flights').show()

+-----------------------------------+
|max(Total OnTime Departure Flights)|
+-----------------------------------+
|                               2063|
+-----------------------------------+

In [342]:
wT_Flights = Window.orderBy(f.desc("Total Flights"))
testdf1 = OnTimeCityReport.withColumn(
    "Total Flights_rank", 
    f.dense_rank().over(wT_Flights)
)

In [343]:
# top 10 airports by numbers of on time flights
testdf1.show(10)

+--------------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+------------------+
|      OriginCityName|Total Flights|Total OnTime Departure Flights|Total OnTime Arrival Flights|Total Cancelled Flights|Total Diverted Flights|Total Flights_rank|
+--------------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+------------------+
|         Chicago, IL|         2885|                          2063|                        1933|                     68|                     6|                 1|
|         Atlanta, GA|         2456|                          1834|                        1758|                     36|                     6|                 2|
|Dallas/Fort Worth...|         1990|                          1497|                        1396|                     36|                     5|                 3|
|     Los Angeles, CA|         1569|                          1150|                        1114|                     26|                     4|                 4|
|          Denver, CO|         1528|                          1151|                        1087|                      9|                     6|                 5|
|         Houston, TX|         1511|                          1156|                        1089|                     19|                     2|                 6|
|        New York, NY|         1502|                          1121|                        1022|                     52|                     2|                 7|
|         Phoenix, AZ|         1304|                           955|                         932|                      9|                     3|                 8|
|      Washington, DC|         1172|                           909|                         862|                     29|                     2|                 9|
|     Minneapolis, MN|         1083|                           838|                         764|                     22|                     6|                10|
+--------------------+-------------+------------------------------+----------------------------+-----------------------+----------------------+------------------+
only showing top 10 rows